/* sec_common */
.check_rate_page .sec_02,
.check_rate_page .sec_03,
.check_rate_page .sec_05,
.check_rate_page .sec_06,
.check_rate_page .sec_07 {
  width: 53.75rem;
  margin: 0 auto 6.25rem;
  padding: 0 1.25rem;
}

.check_rate_page .sec_02 .title,
.check_rate_page .sec_03 .title,
.check_rate_page .sec_06 .title,
.check_rate_page .sec_05 .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  margin-bottom: 1rem;
}
.check_rate_page .sec_02 .sub_title > span,
.check_rate_page .sec_03 .sub_title > span,
.check_rate_page .sec_06 .sub_title > span,
.check_rate_page .sec_05 .sub_title > span {
  color: #4E5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.02rem;
}
.check_rate_page .sec_02 .sub_title,
.check_rate_page .sec_03 .sub_title,
.check_rate_page .sec_06 .sub_title,
.check_rate_page .sec_05 .sub_title {
  color: #4E5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  margin-bottom: 2.5rem;
}

/* table */
.check_rate_page .table_container {
  min-width: 21.875rem;
  max-width: 53.75rem;
  margin: 0 auto;
}
.check_rate_page .table_container table {
  border-collapse: collapse; /*이중선 제거*/
  width: 100%;
}
.check_rate_page .table_container table th, 
.check_rate_page .table_container table td {
  width: 100px;
  height: 2.75rem;
  text-align: center;
  border: 1px solid #909fb7;

  vertical-align: top; /* 위 */
  vertical-align: bottom; /* 아래 */
  vertical-align: middle; /* 가운데 */

  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem; /* 343.75% */
  letter-spacing: -0.02rem;
}
.check_rate_page .table_container table th {
  background-color: #e2e5ed;
  width: 11.25rem;
}
.check_rate_page .table_container .table_caption {
  color: #4E5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0175rem;
  margin-top: 1rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .check_rate_page .table_container {
    /* width: 21.875rem; */
    overflow: scroll;
  }
  .check_rate_page .table_container table {
    width: max-content;
  }
  .check_rate_page .table_container .table_caption {
    text-align: right;
    font-size: 0.875rem;
    margin-bottom: 0.81rem;
  }
}

/* sec_01 */
.check_rate_page .sec_01 {
  height: 17.5rem;
  position: relative;
  margin-bottom: 5rem;
}
.check_rate_page .sec_01 .backgroundIntro {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* sec_02, sec_05 */
.check_rate_page .sec_02 {}

.check_rate_page .sec_02 .info_wrap .info_item,
.check_rate_page .sec_05 .info_wrap .info_item {
  padding-left: 0;
}

.check_rate_page .sec_05 .info_wrap .info_text,
.check_rate_page .sec_07 .info_wrap .info_text {
  color: #A3A7B2;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;

  display: flex;
  align-items: center;
}
.check_rate_page .sec_05 .info_wrap .info_text .info_icon,
.check_rate_page .sec_07 .info_wrap .info_text .info_icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
}

/* sec_03 */
.check_rate_page .sec_03 {}

/* sec_04 */
.check_rate_page .sec_04 { margin: 0 auto 6.25rem; }
.check_rate_page .sec_04 .container_01 {
  background: rgba(45, 46, 53, 0.90);
  padding: 3.19rem 0;
  text-align: center;
}
.check_rate_page .sec_04 .container_01 .text_01 {
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 130% */
  letter-spacing: -0.025rem;
}
.check_rate_page .sec_04 .container_01 .text_02 {
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
}
.check_rate_page .sec_04 .container_01 .text_02 > span {
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem;
  letter-spacing: -0.03rem;
}
.check_rate_page .sec_04 .container_02 {
  background: #383B48;
}
.check_rate_page .sec_04 .container_02 {
  padding: 5rem 1.25rem 6.56rem;
}
.check_rate_page .sec_04 .container_02 .text_01 {
  color: #FFF;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0325rem;
  margin-bottom: 3.5rem;
}
.check_rate_page .sec_04 .container_02 .img {
  width: fit-content;
  margin: auto;
  margin-bottom: 5rem;
}
.check_rate_page .sec_04 .container_02 .text_02 {
  color: #FFF;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
}

/* sec_06 */
.check_rate_page .sec_06 {}

/* sec_07 */
.check_rate_page .sec_07 {}
.check_rate_page .sec_07 .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  margin-bottom: 1rem;
}
.check_rate_page .sec_07 .sub_title {
  color: #4E5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.check_rate_page .sec_07 .sub_title > hr {
  width: 0.125rem;
  height: 1rem;
  flex-shrink: 0;
  background: #A3A7B2;
  margin: 0 1rem;
}
.check_rate_page .sec_07 .info_wrap .info_example {
  border-radius: 0.5rem;
  border: 1px solid #E2E5ED;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.20);
  padding: 2.25rem;
  text-align: center;
  margin-bottom: 1rem;
}
.check_rate_page .sec_07 .info_wrap .info_example .text_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0225rem;
  margin-bottom: 2rem;
}
.check_rate_page .sec_07 .info_wrap .info_example .calculation_container {
  display: inline-flex;
}
.check_rate_page .sec_07 .info_wrap .info_example .info_calculation {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0325rem;
  margin-bottom: 0.5rem;
}
.check_rate_page .sec_07 .info_wrap .info_example .info_calculation_text {
  color: #A3A7B2;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem; /* 100% */
  letter-spacing: -0.0175rem;
}

.check_rate_page .sec_07 .info_wrap .info_avg_monthly {
  border-radius: 0.5rem;
  border: 1px solid #5221CB;
  background: rgba(82, 33, 203, 0.10);
  padding: 1.37rem 2.44rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.check_rate_page .sec_07 .info_wrap .info_avg_monthly .text_01 {
  color: #5221CB;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.025rem;
}
.check_rate_page .sec_07 .info_wrap .info_avg_monthly .text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.check_rate_page .sec_07 .info_wrap .info_avg_monthly .text_wrapper .text_02 {
  color: #222;
  text-align: right;
  font-family: Spoqa Han Sans Neo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.04rem;
  margin-bottom: 0.38rem;
}
.check_rate_page .sec_07 .info_wrap .info_avg_monthly .text_wrapper .text_03 {
  color: #4E5055;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0175rem;
}

@media screen and (max-width: 1023px) {
  .check_rate_page .sec_1 .backgroundIntro { 
    width: 21.875rem;
    font-size: 1.5rem;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.03rem;
  }
}