#electric {
}

/* sec common */
.container {
  margin: auto;
  text-align: center;
  width: 53.75rem;
  margin-bottom: 6rem;
}

/* sec_01 */
.sec_01 {
}
.sec_01 .banner_container {
  position: relative;
}
.sec_01 .banner_container .banner_image {
  position: relative;
  margin-bottom: 6rem;
}
.sec_01 .banner_container .banner_title {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;

  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* sec_02 */
.sec_02 .sub_banner_container {
  margin-bottom: 7rem;
}
.sec_02 .sub_banner_container > .text_01 {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.035rem;
  margin-bottom: 2rem;
}
.sec_02 .sub_banner_container > .text_02 {
  color: #4e5055;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  margin-bottom: 2.5rem;
}
.sec_02 .sub_banner_container .item_wrapper {
  margin-bottom: 5rem;
}
.sec_02 .sub_banner_container .item_wrapper .item {
  display: inline-flex;
  padding: 1rem 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  width: 100%;
  margin-bottom: 1rem;

  /* text */
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}
.sec_02 .sub_banner_container .business_wrapper {
  height: 7.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #4017a6;
  margin: auto;
  position: relative;

  /* text center */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;
}
.sec_02 .sub_banner_container .business_wrapper .text_wrapper {
  text-align: start;
}
.sec_02 .sub_banner_container .business_wrapper .text_01 {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 0.5rem;
}
.sec_02 .sub_banner_container .business_wrapper .text_02 {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02rem;
}
.sec_02 .sub_banner_container .business_wrapper .img {
  position: absolute;
  display: flex;
  top: 10%;
  left: 74%;
  width: 100%;
  /* transform: translate( -50%, -50% ); */
}

/* sec_03 */
.sec_03 {
  background: #383b48;
  padding: 1rem 0;
  margin-bottom: 7rem;
}
.sec_03 .container {
  padding: 6rem 0;
  margin-bottom: 0;
}
.sec_03 .chart_container {
  margin: 0 3rem 3.5rem 3rem;
}
.sec_03 .chart_container > .title_01 {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
  margin-bottom: 5rem;
}
.sec_03 .news_container {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 3.5rem 3rem;
  align-items: center;
}
.sec_03 .news_container .item {
  width: 100%;
  display: inline-flex;
  padding: 1rem 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #d5d8e3;
  margin-bottom: 1rem;

  /* text */
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}

/* sec_04 */

/* sec_04 common */
.sec_04 {
}
.sec_04 .content_container {
  width: 65%;
  margin-bottom: 10rem;
}
.sec_04 .content_container .wrapper {
  margin-bottom: 3rem;
}
.sec_04 .content_container .wrapper .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  text-align: start;
  margin-bottom: 1rem;
}
.sec_04 .content_container .wrapper .sub_title {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  text-align: start;
  margin-bottom: 1.5rem;
}

.sec_04 .content_container .content_wrapper_01 .title {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
  margin-bottom: 3rem;
}
.sec_04 .content_container .content_wrapper_01 .item_wrapper,
.sec_04 .content_container .content_wrapper_02 .item_wrapper,
.sec_04 .content_container .content_wrapper_03 .item_wrapper,
.sec_04 .content_container .content_wrapper_04 .item_wrapper,
.sec_04 .content_container .content_wrapper_05 .item_wrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}
.sec_04 .content_container .content_wrapper_01 .item_wrapper .item {
  display: flex;
  width: 48%;
  height: 5rem;
  padding: 1rem 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  /* text */
  color: #222;
  text-align: start;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}

.sec_04 .content_container .content_wrapper_02 .item_wrapper .item {
  position: relative;
}
.sec_04 .content_container .content_wrapper_02 .item_wrapper .item .img {
}
.sec_04 .content_container .content_wrapper_02 .item_wrapper .item .text {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
  letter-spacing: -0.03rem;

  position: absolute;
  top: 62%;
  left: 10%;
  color: white;
  text-align: start;
  width: max-content;
}

.sec_04 .content_container .content_wrapper_06 .item_wrapper .item {
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  padding: 2rem;
  margin-bottom: 1rem;
}
.sec_04 .content_container .content_wrapper_06 .item_wrapper .item .text_01 {
  display: flex;
  width: 6.4375rem;
  height: 2.0625rem;
  padding: 0rem 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: rgba(82, 33, 203, 0.15);
  margin-bottom: 1rem;

  /* text */
  color: #5221cb;
  font-family: Haan YHead B;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.25rem; /* 125% */
  letter-spacing: -0.02rem;
}
.sec_04 .content_container .content_wrapper_06 .item_wrapper .item .text_02 {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  text-align: start;
}
.sec_04 .content_container .content_wrapper_06 .item_wrapper .item .img {
  width: 3.53331rem;
  height: 3.5rem;
  position: absolute;
  left: 70%;
  transform: translate(-50%, -160%);
}
.sec_04 .content_container .content_wrapper_06 .item_wrapper .button {
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #383b48;
  margin-top: 3rem;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* sec_05 */
.sec_05 {
}
.sec_05 > .item_wrapper {
  position: relative;
  height: 12.5rem;
  margin-bottom: 7.5rem;
}
.sec_05 > .item_wrapper > .img {
  position: relative;
  height: 100%;
  display: flex;
}
.sec_05 .item_wrapper .text_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.sec_05 .item_wrapper .text_wrapper .text_01 {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  margin-bottom: 0.5rem;
}
.sec_05 .item_wrapper .text_wrapper .text_02 {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}

/* sec_06 */
.sec_06 .how_start_container .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0325rem;
  text-align: start;
  margin-bottom: 2rem;
}
.sec_06 .how_start_container .item_wrapper {
  margin-bottom: 3rem;
}
.sec_06 .how_start_container .item_wrapper .item {
}
.sec_06 .how_start_container .item_wrapper .item .text_01 {
  color: var(--Main1, #5221cb);
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: -0.0175rem;
  margin-bottom: 1rem;
}
.sec_06 .how_start_container .item_wrapper .item .img {
  margin-bottom: 1rem;
}
.sec_06 .how_start_container .item_wrapper .item .text_02 {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  letter-spacing: -0.0225rem;
}
.sec_06 .how_start_container .item_wrapper {
  height: 15.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.sec_06 .how_start_container .item_wrapper .step_item {
  display: grid;
  align-content: center;
  align-items: center;
  height: fit-content;
}

.sec_06 .how_start_container .item_wrapper .step_item .step_img {
  width: 3.75rem;
  height: 4.30544rem;
}
.sec_06 .how_start_container .item_wrapper .step_item .step_arrow {
  width: 2.5rem;
  height: 2.5rem;
}
.sec_06 .how_start_container .item_wrapper .step_item .step_img,
.sec_06 .how_start_container .item_wrapper .step_item .step_arrow {
  position: relative;
  margin: auto;
}
.sec_06 .how_start_container .button {
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--Main1, #5221cb);
  margin: auto;

  /* 1 */
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec_06 .how_start_container .button > p {
  display: inherit;
  margin: auto;
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .sec_01 {
  }
  .sec_01 .banner_container {
  }
  .sec_01 .banner_container .banner_image {
  }
  .sec_01 .banner_container .banner_title {
    color: #fff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
  }
  .sec_02 .sub_banner_container {
  }
  .sec_02 .sub_banner_container > .text_01 {
    text-align: left;
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_02 .sub_banner_container > .text_02 {
    text-align: left;
    color: #4e5055;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
  .sec_02 .sub_banner_container .item_wrapper .item {
    text-align: left;
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    padding: 16px 24px;
    border-radius: 8px;
  }
  .sec_02 .sub_banner_container .business_wrapper {
    border-radius: 8px;
    padding: 24px;
    height: auto;
  }
  .sec_02 .sub_banner_container .business_wrapper .text_wrapper {
  }
  .sec_02 .sub_banner_container .business_wrapper .text_01 {
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .sec_02 .sub_banner_container .business_wrapper .text_02 {
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .sec_02 .sub_banner_container .business_wrapper .img {
    width: 99.999px;
    height: 96.921px;
    top: 22%;
    left: 66%;
  }
  .sec_03 {
  }
  .sec_03 .container {
    margin: 20px auto;
  }
  .sec_03 .chart_container {
    margin: 0;
  }
  .sec_03 .chart_container > .title_01 {
    color: #fff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
  }
  .sec_03 .news_container {
    margin: 0;
    margin-top: 50px;
  }
  .sec_03 .news_container .item {
    padding: 16px 24px;
    color: #222;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 12px;

    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  .sec_04 {
  }
  .sec_04 .content_container {
    width: 100%;
    padding: 0 20px;
  }
  .sec_04 .content_container .wrapper {
  }
  .sec_04 .content_container .wrapper .title {
    color: #222;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
  }
  .sec_04 .content_container .wrapper .sub_title {
  }

  .sec_04 .content_container .content_wrapper_01 .title {
  }
  .sec_04 .content_container .content_wrapper_01 .item_wrapper {
    flex-direction: column;
  }
  .sec_04 .content_container .content_wrapper_01 .item_wrapper .item {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    padding: 16px 24px;
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 12px;
  }

  .sec_05 {
  }
  .sec_05 > .item_wrapper {
    height: 184px;
  }
  .sec_05 .item_wrapper .text_wrapper {
    padding: 0 20px;
  }
  .sec_05 .item_wrapper .text_wrapper .text_01 {
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_05 .item_wrapper .text_wrapper .text_02 {
    color: #fff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }

  .sec_06 .how_start_container .title {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_06 .how_start_container .item_wrapper {
  }
  .sec_06 .how_start_container .item_wrapper .item {
  }
  .sec_06 .how_start_container .item_wrapper .item .text_01 {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_06 .how_start_container .item_wrapper .item .img {
  }
  .sec_06 .how_start_container .item_wrapper .item .text_02 {
  }
  .sec_06 .how_start_container .item_wrapper {
  }
  .sec_06 .how_start_container .item_wrapper .step_item {
  }
  .sec_06 .how_start_container .item_wrapper .step_item .step_img {
  }
  .sec_06 .how_start_container .item_wrapper .step_item .step_arrow {
  }
  .sec_06 .how_start_container .item_wrapper .step_item .step_img,
  .sec_06 .how_start_container .item_wrapper .step_item .step_arrow {
  }
  .sec_06 .how_start_container .step_mb {
    margin-bottom: 40px;
  }
  .sec_06 .how_start_container .button {
    display: flex;
    width: 88%;
    height: 56px;
    left: 6.5%;.
    padding: 16px 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
    margin-top: 40px;
    position: fixed;
    font-size: 16px;
    bottom: 10px;
    z-index: 99;
  }
  .sec_06 .how_start_container .button p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
