/* sec_common */
.func_system_comparison_page .sec_01 {
  margin-top: 5.9rem;
}
.func_system_comparison_page .sec_02,
.func_system_comparison_page .sec_03,
.func_system_comparison_page .sec_04 {
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  box-sizing: border-box;
  padding: 0 15%;
}

.func_system_comparison_page .sec_04 {
  padding-bottom: 10%;
}

.func_system_comparison_page .sec_02 .title,
.func_system_comparison_page .sec_03 .title,
.func_system_comparison_page .sec_04 .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  margin-bottom: 1rem;
}
.func_system_comparison_page .sec_02 .sub_title > span,
.func_system_comparison_page .sec_04 .sub_title > span,
.func_system_comparison_page .sec_03 .sub_title > span {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.02rem;
}
.func_system_comparison_page .sec_02 .sub_title,
.func_system_comparison_page .sec_04 .sub_title,
.func_system_comparison_page .sec_03 .sub_title {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  margin-bottom: 2.5rem;
}

/* table */
.func_system_comparison_page .table_container {
  margin: 0 auto;
  /* margin: 0 auto; */
}
.func_system_comparison_page .table_container table {
  border-collapse: collapse; /*이중선 제거*/
  width: 100%;
}
.func_system_comparison_page .table_container table th,
.func_system_comparison_page .table_container table td {
  width: 100px;
  height: 2.75rem;
  text-align: center;
  border: 1px solid #909fb7;

  vertical-align: top; /* 위 */
  vertical-align: bottom; /* 아래 */
  vertical-align: middle; /* 가운데 */

  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4375rem; /* 343.75% */
  letter-spacing: -0.02rem;
}
.func_system_comparison_page .table_container table th {
  background-color: #e2e5ed;
  width: 11.25rem;
}
.func_system_comparison_page .table_container .table_caption {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0175rem;
  margin-top: 1rem;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .func_system_comparison_page .table_container {
    /* width: 21.875rem; */
    overflow: scroll;
  }
  .func_system_comparison_page .table_container .table_caption {
    text-align: right;
    font-size: 0.875rem;
    margin-bottom: 0.81rem;
  }

  .func_system_comparison_page .sec_02 .title,
  .func_system_comparison_page .sec_03 .title,
  .func_system_comparison_page .sec_04 .title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem; /* 200% */
    letter-spacing: -0.0375rem;
  }

  .func_system_comparison_page .sec_02 .sub_title,
  .func_system_comparison_page .sec_04 .sub_title,
  .func_system_comparison_page .sec_03 .sub_title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
    letter-spacing: -0.02rem;
  }
}

/* sec_01 */
.func_system_comparison_page .sec_01 {
  height: 17.5rem;
  position: relative;
  margin-bottom: 5rem;
}
.func_system_comparison_page .sec_01 .backgroundIntro {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .func_system_comparison_page .sec_01 .backgroundIntro {
    min-width: 21.875rem;
    font-size: 1.5rem;
    line-height: 2.25rem; /* 150% */
    letter-spacing: -0.03rem;
  }
}

/* sec_02 */
.func_system_comparison_page .sec_02 .info_wrap .info_item {
}
.func_system_comparison_page .sec_02 .info_wrap .info_item {
  padding-left: 0;
}
/* @media screen and (max-width: 767px) {
  .func_system_comparison_page .sec_02 .info_wrap .info_img {
    width: 10rem;
    height: 15rem;
  }
} */

/* sec_03 */
.func_system_comparison_page .sec_03 {
}
.func_system_comparison_page .sec_03 .item_container {
}
.func_system_comparison_page .sec_03 .item_container .item_wrapper {
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  padding: 2.06rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.func_system_comparison_page .sec_03 .item_container .item_wrapper .item_01 {
}
.func_system_comparison_page
  .sec_03
  .item_container
  .item_wrapper
  .item_01
  .item_text_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}
@media screen and (max-width: 767px) {
  .func_system_comparison_page
    .sec_03
    .item_container
    .item_wrapper
    .item_01
    .item_text_01 {
    font-size: 1.25rem;
    letter-spacing: -0.025rem;
  }
}

.func_system_comparison_page
  .sec_03
  .item_container
  .item_wrapper
  .item_01
  .item_text_02 {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}

@media screen and (max-width: 767px) {
  .func_system_comparison_page .sec_03 .item_container .item_wrapper .item_02 {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* sec_04 */
.func_system_comparison_page .sec_04 {
}
.func_system_comparison_page .buttonWrap {
  margin-top: 1.25rem;
  float: right;
}
.func_system_comparison_page .buttonWrap .downloadBtn {
  width: 16.25rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #383b48;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.func_system_comparison_page .buttonWrap .downloadBtn .icon {
  width: 1.25rem;
  height: 1.25rem;
  background: url('/images/myEstimate/CaretRight.svg') 50% / cover no-repeat;
}
@media screen and (max-width: 767px) {
  .func_system_comparison_page .buttonWrap {
    float: none;
  }
  .func_system_comparison_page .buttonWrap .downloadBtn {
    width: 100%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .func_system_comparison_page .table_container {
    overflow: scroll;
    margin-bottom: 32px;
  }
  .func_system_comparison_page .table_container table {
    width: max-content;
  }
  .func_system_comparison_page .table_container table th,
  .func_system_comparison_page .table_container table td {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 343.75% */
    letter-spacing: -0.32px;
    padding: 6px;
    min-width: 170px;
  }
  .func_system_comparison_page .table_container table th {
  }
  .func_system_comparison_page .table_container .table_caption {
  }
  .func_system_comparison_page .table_container {
  }
  .func_system_comparison_page .table_container table {
  }
  .func_system_comparison_page .table_container .table_caption {
  }

  .func_system_comparison_page .sec_02,
  .func_system_comparison_page .sec_03,
  .func_system_comparison_page .sec_04 {
    padding: 0 4%;
  }
  .func_system_comparison_page .sec_02 .title,
  .func_system_comparison_page .sec_03 .title,
  .func_system_comparison_page .sec_04 .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .func_system_comparison_page .sec_02 .sub_title > span,
  .func_system_comparison_page .sec_04 .sub_title > span,
  .func_system_comparison_page .sec_03 .sub_title > span {
  }
  .func_system_comparison_page .sec_02 .sub_title,
  .func_system_comparison_page .sec_04 .sub_title,
  .func_system_comparison_page .sec_03 .sub_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
  .func_system_comparison_page .sec_02 .title,
  .func_system_comparison_page .sec_03 .title,
  .func_system_comparison_page .sec_04 .title {
  }
  .func_system_comparison_page .sec_02 .sub_title,
  .func_system_comparison_page .sec_04 .sub_title,
  .func_system_comparison_page .sec_03 .sub_title {
  }

  .func_system_comparison_page .sec_01 {
    height: 220px;
    margin-top: 12.5rem;
  }
  .func_system_comparison_page .sec_01 .backgroundIntro {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
    white-space: nowrap;
  }
  .func_system_comparison_page .sec_02 .info_wrap {
  }
  .func_system_comparison_page .sec_02 .info_wrap .info_item {
  }
  .func_system_comparison_page .sec_02 .info_wrap .info_img {
  }
  .func_system_comparison_page .sec_03 {
  }
  .func_system_comparison_page .sec_03 .item_container {
  }
  .func_system_comparison_page .sec_03 .item_container .item_wrapper {
    border-radius: 8px;
    padding: 24px;
  }
  .func_system_comparison_page .sec_03 .item_container .item_wrapper .item_01 {
  }
  .func_system_comparison_page
    .sec_03
    .item_container
    .item_wrapper
    .item_01
    .item_text_01 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .func_system_comparison_page
    .sec_03
    .item_container
    .item_wrapper
    .item_01
    .item_text_02 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  .func_system_comparison_page .sec_03 .item_container .item_wrapper .item_02 {
    width: 40px;
    height: 40px;
  }
  .func_system_comparison_page .sec_04 {
    padding-bottom: 15%;
  }
  .func_system_comparison_page .buttonWrap {
  }
  .func_system_comparison_page .buttonWrap .downloadBtn {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;

    @media screen and (max-width: 480px) {
      padding: 16px 0;
    }
  }
  .func_system_comparison_page .buttonWrap .downloadBtn .icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  .func_system_comparison_page .buttonWrap {
  }
  .func_system_comparison_page .buttonWrap .downloadBtn {
  }
}
