.selection {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}


.sec_01 {
    width: 120rem;
    height: 28.5rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #5221CB 0%, #3D1D8C 100%);
}
.sec_01 .title {
    color: #FFF;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.05rem;
}
.sec_01 .menu_container {
    width: 65%;
    margin: auto;
    margin-top: 15rem;
}
.sec_01 .menu_container .menu_box {
    width: 17.53125rem;
    height: 17.5rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 1px solid #E2E5ED;
    background: #FFF;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.20);
}
.sec_01 .menu_container .menu_box:hover {
    border-radius: 0.5rem;
    border: 1px solid #E2E5ED;
    background: #383B48;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.20);
}
.sec_01 .menu_container .menu_box:hover .title {
    color: #FFF;
}
.sec_01 .menu_container .menu_box:hover .sub_title {
    color: rgba(255, 255, 255, 0.80);
}
.sec_01 .menu_container .menu_box .title {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03rem;
    text-align: left;
    margin: 1.5rem 0 0 1.5rem;
}
.sec_01 .menu_container .menu_box .sub_title {
    color: #4E5055;
    font-family: Spoqa Han Sans Neo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02rem;
    margin: 1rem 0 0 1.5rem;
}
.sec_01 .menu_container .menu_box .image_wrapper {
    width: 5.5rem;
    height: 5.5rem;
    flex-shrink: 0;
    position: absolute;
    margin-left: 10rem;
    margin-top: 5rem;
}
        
.sec_02 {
    width: 120rem;
    height: 28.5rem;
    flex-shrink: 0;
}
