$imgPath: '/images';

.byCompanyContainer {
  section {
    padding: 1.25rem;
  }

  p + p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .company {
    // width: 74.625rem;
    height: 10.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 0 2rem;
    background-color: white;

    position: fixed;
    z-index: 9;
    top: 5.9rem;
    width: -webkit-fill-available;
    justify-content: space-around;
    @media screen and (max-width: 480px) {
      height: 20rem;
    }
    // @media screen and (max-width: 767px) {
    //   padding: 1.5rem;

    //   font-size: 2rem;
    //   line-height: 2.5rem; /* 125% */
    //   letter-spacing: -0.04rem;

    //   flex-wrap: wrap;
    //   justify-content: space-between;
    // }

    .companyTitle {
      color: #222;
      font-family: Spoqa Han Sans Neo;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3.75rem; /* 150% */
      letter-spacing: -0.05rem;
    }
    .buttonWrap {
      display: flex;
      .button {
        display: flex;
        height: 2.75rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        flex-shrink: 0;

        border-radius: 1.8125rem;
        background: var(--Main1, #5221cb);

        /* shadow */
        box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

        color: #fff;
        font-family: Spoqa Han Sans Neo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: -0.02rem;

        @media screen and (max-width: 767px) {
          font-size: 0.8125rem;
          letter-spacing: -0.01625rem;
        }
        &.applyBtn {
          @media screen and (max-width: 480px) {
            display: flex;
            bottom: 0;
            left: 0;
            position: fixed;
            margin: 20px;
            width: calc(100% - 40px);
            height: 56px;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.32px;
          }
        }

        &.kakaoChatBtn {
          border: 1px solid #e2e5ed;
          color: #4e5055;
          font-family: Spoqa Han Sans Neo;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1rem; /* 100% */
          letter-spacing: -0.02rem;
          background: var(--Sub3, #fff);

          margin-right: 0.75rem;
        }
      }

      .kakaoIcon {
        width: 1.25rem;
        height: 1.25rem;
        @media screen and (max-width: 767px) {
          width: 1rem;
          height: 1rem;
        }
        background: url('#{$imgPath}/myEstimate/icon_kakao.png') 50% / cover
          no-repeat;
        margin-right: 0.5rem;
      }
    }
  }

  .companyBackgroundImg {
    height: 25rem;
    @media screen and (max-width: 767px) {
      // height: 12.5rem;
    }
    width: 100%;
    margin-top: 17.25rem;

    $list: ('starkoff', 'castpro', 'ev');
    @each $index in $list {
      &.#{$index} {
        background: url('#{$imgPath}/company/#{$index}_background.png')
          50% /
          cover
          no-repeat;
      }
    }
  }

  .tabBarWrap {
    // height: 3.15rem;
    position: sticky;
    background-color: white;
    top: 16rem;
    z-index: 8;

    padding: 0 1.25rem;

    border-bottom: 1px solid #e2e5ed;

    @media screen and (max-width: 767px) {
      // height: 3rem;
      width: 100%;
      // min-width: 27.5rem;
      /* padding: 10px; */
      white-space: nowrap;
      overflow-x: auto;
    }

    .tabBarList {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      @media screen and (max-width: 767px) {
        width: fit-content;
      }
      margin: 0 auto;

      // width: fit-content;
    }
    .tabBarItem {
      display: flex;
      width: 4.25rem;
      // height: 3.5rem;
      flex-direction: column;
      // justify-content: center;
      margin: 0 0.75rem;

      display: flex;
      // height: 3.5rem;
      // padding: 0rem 0.25rem;
      align-items: flex-start;
      gap: 0.25rem;

      @media screen and (max-width: 767px) {
        // width: 5.25rem;
      }

      a {
        cursor: pointer;
        color: var(--Main1, #5221cb);
        text-align: center;
        font-family: Spoqa Han Sans Neo;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.5rem; /* 285.714% */
        letter-spacing: -0.0035rem;
        width: 4.25rem;

        // @media screen and (max-width: 767px) {
        //   width: 5.25rem;
        //   font-size: 1rem;
        // }

        &:hover {
          text-decoration: none;
        } //마우스 오버했을 때 링크 상태
      }
      &::after {
        content: '';
        // position: absolute;
        display: block;
        width: inherit;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0.2rem;
        // background-color: #5221cb;
      }
      &.active::after {
        background-color: #5221cb;
      }
    }
  }

  .mainContainer {
    margin-top: 6.25rem;

    .companyInfoWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;

      .companyLogo {
        $list: ('starkoff', 'castpro', 'ev');
        @each $index in $list {
          &.#{$index} {
            background: url('#{$imgPath}/company/#{$index}_logo.png')
              50% /
              cover
              no-repeat;

            @if ($index == 'ev') {
              width: 5.5rem;
              height: 5.5rem;
            } @else if ($index == 'castpro') {
              width: 14.375rem;
              height: 2.5rem;
            } @else {
              width: 11.25rem;
              height: 2.5rem;
            }
          }
        }
      }

      .companyInfo {
        // width: 53.75rem;
        // height: 15.5rem;
        border-radius: 0.5rem;
        border: 1px solid #e2e5ed;
        background: #fff;

        margin: 3.75rem 0;

        /* 1 */
        box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
        padding: 2.5rem;
        @media screen and (max-width: 767px) {
          padding: 1.5rem;
        }

        .companyInfoEtc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          // height: 10rem;

          .list {
            border-bottom: 0.0625rem solid #e2e5ed;
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 3.5rem;

            &:last-child {
              border-bottom: 0;
            }
          }

          .title {
            color: #a3a7b2;
            font-family: Spoqa Han Sans Neo;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            // line-height: 1.5rem; /* 150% */
            letter-spacing: -0.02rem;
            flex: 3;
          }
          .info {
            color: #222;
            font-family: Spoqa Han Sans Neo;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            // line-height: 1.5rem; /* 120% */
            letter-spacing: -0.025rem;
            @media screen and (max-width: 767px) {
              font-size: 1rem;
              letter-spacing: -0.02rem;
            }
            flex: 7;
          }
        }
      }
    }
    .estimateInfoWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 5.75rem auto;
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
      flex-direction: column;
      justify-content: center;
      .title {
        min-height: 2.5rem;
        max-height: 4.25rem;
        width: -webkit-fill-available;

        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem; /* 150% */
        letter-spacing: -0.05rem;
        // @media screen and (max-width: 767px) {
        //   font-size: 1.25rem;
        //   font-weight: 700;
        //   letter-spacing: -0.025rem;
        // }
      }

      .infoWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }

        .infoBox {
          // width: 53.75rem;
          border-radius: 0.5rem;
          border: 1px solid #e2e5ed;
          background: #fff;
          margin: 2.75rem 0;
          box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
          width: 26.25rem;
          @media screen and (max-width: 767px) {
            width: -webkit-fill-available;
            margin: 0.75rem 0;
          }

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 2.5rem;
          flex-wrap: nowrap;

          .infoTitle {
            color: #222;
            font-family: Spoqa Han Sans Neo;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.025rem;
          }

          ul {
            list-style: disc;
            margin: 0.5rem 0.5rem 0 0.5rem;
            li {
              margin: 0.625rem;

              color: #4e5055;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 400;
              line-height: 1.875rem; /* 187.5% */
              letter-spacing: -0.02rem;
            }
            li:last-child {
              margin-bottom: 0;
            }
          }

          .infoEtc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 10rem;

            p {
              display: flex;
            }

            .title {
              color: #a3a7b2;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              line-height: 1.5rem; /* 150% */
              letter-spacing: -0.02rem;
              flex: 3;
            }
            .info {
              color: #222;
              font-family: Spoqa Han Sans Neo;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 500;
              line-height: 1.5rem; /* 120% */
              letter-spacing: -0.025rem;

              flex: 7;
            }

            .border {
              // width: 19.75rem;
              height: 0.0625rem !important;
              background: #e2e5ed;
            }
          }
        }
      }
    }

    .estimateDetailWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 5.75rem auto;
      // @media screen and (max-width: 767px) {
      //   margin: 3.75rem auto;
      // }
      flex-direction: column;
      justify-content: center;

      .title {
        min-height: 2.5rem;
        max-height: 4.25rem;
        width: -webkit-fill-available;

        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem; /* 150% */
        letter-spacing: -0.05rem;

        // @media screen and (max-width: 767px) {
        //   font-size: 1.25rem;
        //   font-weight: 700;
        //   letter-spacing: -0.025rem;
        // }
      }

      .detailInfo {
        border-radius: 0.5rem;
        border: 1px solid #e2e5ed;
        background: #fff;

        margin: 2.75rem 0;
        // @media screen and (max-width: 767px) {
        //   margin: 0.75rem 0;
        //   padding: 1.5rem;
        // }
        /* 1 */
        box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
        padding: 2.5rem;

        .detailInfoEtc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .list {
            border-bottom: 0.0625rem solid #e2e5ed;
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 3.5rem;

            &:last-child {
              border-bottom: 0;
            }

            .title {
              color: #4e5055;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              letter-spacing: -0.02rem;
              flex: 3;
            }
            .info {
              color: #222;
              text-align: right;
              font-family: Spoqa Han Sans Neo;
              font-size: 1.5rem;
              // @media screen and (max-width: 767px) {
              //   font-size: 1.25rem;
              // }
              font-style: normal;
              font-weight: 700;
              letter-spacing: -0.03rem;

              flex: 7;
            }
          }
          .subList {
            // border-bottom: 0.0625rem solid #e2e5ed;
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 3.5rem;
            strong {
              color: #222;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 700;
              line-height: 1.5rem; /* 150% */
              letter-spacing: -0.02rem;

              margin: 0 0.5rem;
            }

            .title {
              color: #a6a9b0;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              letter-spacing: -0.02rem;
              flex: 3;
            }
            .info {
              text-align: right;

              color: #4e5055;
              font-family: Spoqa Han Sans Neo;
              font-size: 1rem;
              font-style: normal;
              font-weight: 500;
              letter-spacing: -0.02rem;

              flex: 1;
            }
          }
        }
      }
    }

    .performanceWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 5.75rem auto;
      // @media screen and (max-width: 767px) {
      //   margin: 0 auto;
      // }
      flex-direction: column;
      justify-content: center;
      .title {
        min-height: 2.5rem;
        max-height: 4.25rem;
        width: -webkit-fill-available;

        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem; /* 150% */
        letter-spacing: -0.05rem;
        // @media screen and (max-width: 767px) {
        //   font-size: 1.25rem;
        //   font-weight: 700;
        //   letter-spacing: -0.025rem;
        // }
      }

      .infoWrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        min-height: 16rem;
        margin: 2.5rem 0;
        // @media screen and (max-width: 767px) {
        //   margin: 0.5rem 0;
        //   flex-direction: column;
        //   flex-wrap: nowrap;
        //   align-items: center;
        //   height: 29.25rem;
        //   justify-content: space-between;
        // }

        .infoBox {
          width: 26.25rem;
          height: 6.875rem;
          border-radius: 0.5rem;
          background: #f8f8f8;

          padding: 1.5rem;
          @media screen and (max-width: 1023px) {
            margin: 0.25rem;
          }
          @media screen and (max-width: 767px) {
            width: -webkit-fill-available;
          }

          .title {
            color: #4e5055;
            font-family: Spoqa Han Sans Neo;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem; /* 150% */
            letter-spacing: -0.02rem;
          }

          .info {
            color: #222;
            font-family: Spoqa Han Sans Neo;
            font-size: 1.5rem;
            @media screen and (max-width: 767px) {
              font-size: 1.25rem;
            }
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.03rem;
          }

          .certificateIcon {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            vertical-align: middle;
            background: url('#{$imgPath}/company/icon_certificate.svg')
              no-repeat;
          }
        }
      }
    }
    .exampleWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 5.75rem auto;
      flex-direction: column;
      justify-content: center;
      .title {
        min-height: 2.5rem;
        max-height: 4.25rem;
        width: -webkit-fill-available;

        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem; /* 150% */
        letter-spacing: -0.05rem;
        // @media screen and (max-width: 767px) {
        //   font-size: 1.25rem;
        //   font-weight: 700;
        //   letter-spacing: -0.025rem;
        // }
      }

      .infoWrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        position: relative;

        height: 13rem;
        margin: 2.5rem 0;
        @media screen and (max-width: 767px) {
          margin: 0.5rem 0;
        }

        .section2Slider {
          overflow: hidden;
          width: 53.75rem;
          font-size: 0;

          .item {
            width: 16.5rem;
            height: 13rem;
            overflow: hidden;
          }
        }

        .swiperBtn {
          display: none;
          position: absolute;
          top: 40%;

          border-radius: 10rem;
          align-items: center;
          justify-content: center;
          font-size: 0;
          cursor: pointer;
          z-index: 1;

          @media (min-width: 1024px) {
            display: flex;
          }

          &::after {
            content: '';
            width: 2.5rem;
            height: 2.5rem;
            background: url('#{$imgPath}/company/slider_arrow.svg') no-repeat
              center center;
          }

          &.btnPrev {
            left: -4.3rem;

            &::after {
              transform: rotate(180deg);
            }
          }

          &.btnNext {
            right: -4.3rem;
          }

          &:disabled {
            display: none;
          }
          @media screen and (max-width: 767px) {
            &.btnPrev,
            &.btnNext {
              display: none;
            }
          }
        }
      }
    }

    .footerWrap {
      display: flex;
      max-width: 53.75rem;
      margin: 5.75rem auto;
      flex-direction: column;
      justify-content: center;
      .title {
        min-height: 2.5rem;
        max-height: 4.25rem;
        width: -webkit-fill-available;

        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem; /* 150% */
        letter-spacing: -0.05rem;
        // @media screen and (max-width: 767px) {
        //   font-size: 1.25rem;
        //   font-weight: 700;
        //   letter-spacing: -0.025rem;
        // }
      }

      .info {
        margin: 2.5rem 0;

        color: #4e5055;
        font-family: Spoqa Han Sans Neo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; /* 175% */
        letter-spacing: -0.02rem;
        @media screen and (max-width: 767px) {
          margin: 0.5rem 0;
        }
      }
    }
  }
  .certificateWrap {
    background: #f8f8f8;

    min-height: 54.6875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .certificateInfo {
      position: relative;

      .title {
        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.75rem;
        letter-spacing: -0.05rem;
        text-align: center;

        margin: 2.5rem;
        .companyName {
          color: var(--Main1, #5221cb);
        }
      }

      .section2Slider {
        overflow: hidden;
        max-width: 53.75rem;
        font-size: 0;
        .section2SliderUl {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
      .item {
        width: 16.5rem;
        height: 26.375rem;
        @media screen and (max-width: 1023px) {
          width: inherit;
          height: inherit;
          margin: 0.5rem;
        }
        overflow: hidden;
      }
      .swiperBtn {
        display: none;
        position: absolute;
        top: 55%;

        border-radius: 10rem;
        align-items: center;
        justify-content: center;
        font-size: 0;
        cursor: pointer;
        z-index: 1;

        @media (min-width: 1024px) {
          display: flex;
        }

        &::after {
          content: '';
          width: 2.5rem;
          height: 2.5rem;
          background: url('#{$imgPath}/company/slider_arrow.svg') no-repeat
            center center;
        }

        &.btnPrev {
          left: -4.3rem;

          &::after {
            transform: rotate(180deg);
          }
        }

        &.btnNext {
          right: -4.3rem;
        }

        &:disabled {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .byCompanyContainer {
  }
  .byCompanyContainer .company {
    justify-content: space-between;
    padding: 24px 20px;
    height: 16.5rem;
    // height: fit-content;
  }
  .byCompanyContainer .company .companyTitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
  }
  .byCompanyContainer .company .buttonWrap .kakaoChatBtn {
    display: flex;
    border-radius: 29px;
    height: 32px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: normal !important;
  }
  .byCompanyContainer .company .buttonWrap .kakaoChatBtn .kakaoIcon {
    width: 16px;
    height: 16px;
  }
  .byCompanyContainer .companyBackgroundImg {
    height: 200px !important;
    width: 100%;
    margin-top: 22.25rem;

    $list: ('starkoff', 'castpro', 'ev');
    @each $index in $list {
      &.#{$index} {
        background: url('#{$imgPath}/company/#{$index}_background_mb.png')
          50% /
          cover
          no-repeat !important;
      }
    }
  }

  .byCompanyContainer .tabBarWrap {
    padding: 0 24px;
    margin-top: 12px;
    top: 22rem;
  }
  .byCompanyContainer .tabBarWrap .tabBarList {
  }
  .byCompanyContainer .tabBarWrap .tabBarList .tabBarItem {
    // width: -webkit-fill-available;
    width: 80px;
  }
  .byCompanyContainer .tabBarWrap .tabBarList .active::after {
    height: 4px;
  }
  .byCompanyContainer .tabBarWrap .tabBarList .tabBarItem {
  }
  .byCompanyContainer .tabBarWrap .tabBarList .tabBarItem > a {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 250% */
    letter-spacing: -0.32px;
    width: fit-content;
    margin: auto;
  }
  .byCompanyContainer .mainContainer {
  }
  .byCompanyContainer .mainContainer .companyInfoWrap {
  }
  .byCompanyContainer .mainContainer .companyInfoWrap .companyLogo {
    // $list: ('starkoff', 'castpro', 'ev');
    // @each $index in $list {
    //   @if ($index == 'ev') {
    //     width: 54px !important;
    //     height: 46px !important;
    //   } @else if ($index == 'castpro') {
    //     width: 100px !important;
    //     height: 17.391px !important;
    //   } @else {
    //     height: 22.222px !important;
    //     width: 100px !important;
    //   }
    // }
  }
  .byCompanyContainer .mainContainer .companyInfoWrap .companyInfo {
    padding: 9px 25px;
    border-radius: 8px;
    margin-bottom: 80px;
  }
  .byCompanyContainer
    .mainContainer
    .companyInfoWrap
    .companyInfo
    .companyInfoEtc {
  }
  .byCompanyContainer
    .mainContainer
    .companyInfoWrap
    .companyInfo
    .companyInfoEtc
    .list {
  }
  .byCompanyContainer
    .mainContainer
    .companyInfoWrap
    .companyInfo
    .companyInfoEtc
    .list
    .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin: 16px 0;
  }
  .byCompanyContainer
    .mainContainer
    .companyInfoWrap
    .companyInfo
    .companyInfoEtc
    .list
    .info {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin: 16px 0;
  }
  .byCompanyContainer .mainContainer .estimateInfoWrap {
    margin-bottom: 80px;
  }
  .byCompanyContainer .mainContainer .estimateInfoWrap .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
  }
  .byCompanyContainer .mainContainer .estimateInfoWrap .infoWrap {
  }
  .byCompanyContainer .mainContainer .estimateInfoWrap .infoWrap .infoBox {
    border-radius: 8px;
    padding: 25px;
    margin-bottom: 20px;
  }
  .byCompanyContainer
    .mainContainer
    .estimateInfoWrap
    .infoWrap
    .infoBox
    .infoTitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
  }
  .byCompanyContainer .mainContainer .estimateInfoWrap .infoWrap .infoBox ul {
    margin-left: 17px;
  }
  .byCompanyContainer
    .mainContainer
    .estimateInfoWrap
    .infoWrap
    .infoBox
    ul
    li {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.32px;
  }
  .byCompanyContainer .mainContainer .estimateDetailWrap {
    margin-bottom: 80px;
  }
  .byCompanyContainer .mainContainer .estimateDetailWrap > .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
  }
  .byCompanyContainer .mainContainer .estimateDetailWrap .detailInfo {
    border-radius: 8px;
    padding: 5px 25px 28px;
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc {
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .list {
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .list
    .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin: 20px 0;
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .list
    .info {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    letter-spacing: -0.4px;
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .subList {
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .subList
    .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-top: 20px;
  }
  .byCompanyContainer
    .mainContainer
    .estimateDetailWrap
    .detailInfo
    .detailInfoEtc
    .subList
    .info {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    display: contents;
  }
  .byCompanyContainer .certificateWrap {
  }
  .byCompanyContainer .certificateWrap .certificateInfo {
    padding: 50px 20px;
  }
  .byCompanyContainer .certificateWrap .certificateInfo .title {
    margin-bottom: 32px;
  }
  .byCompanyContainer .certificateWrap .certificateInfo .title,
  .byCompanyContainer .certificateWrap .certificateInfo .title .companyName {
    font-size: 20px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    text-align: left;
    margin: 0 0 32px 0;
  }
  .byCompanyContainer
    .certificateWrap
    .certificateInfo
    .section2Slider
    .section2SliderUl {
    justify-content: space-between;
  }
  .byCompanyContainer
    .certificateWrap
    .certificateInfo
    .section2Slider
    .section2SliderUl
    .item {
    width: 165px;
  }
  .byCompanyContainer
    .certificateWrap
    .certificateInfo
    .section2Slider
    .section2SliderUl
    .item:nth-child(1),
  .byCompanyContainer
    .certificateWrap
    .certificateInfo
    .section2Slider
    .section2SliderUl
    .item:nth-child(2) {
    margin-bottom: 60px;
  }
  .byCompanyContainer .mainContainer {
    padding: 0;
  }
  .byCompanyContainer .mainContainer .performanceWrap,
  .byCompanyContainer .mainContainer .exampleWrap,
  .byCompanyContainer .mainContainer .footerWrap {
    margin: 0 auto 80px;
    width: 100%;
  }
  .byCompanyContainer .mainContainer .performanceWrap .title,
  .byCompanyContainer .mainContainer .exampleWrap .title,
  .byCompanyContainer .mainContainer .footerWrap .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
  }
  .byCompanyContainer .mainContainer .performanceWrap .infoWrap {
  }
  .byCompanyContainer .mainContainer .performanceWrap .infoWrap .infoBox {
    border-radius: 8px;
    height: auto;
    padding: 20px;
    margin-bottom: 12px;
  }
  .byCompanyContainer
    .mainContainer
    .performanceWrap
    .infoWrap
    .infoBox
    .title
    .certificateIcon {
    width: 20px;
    height: 20px;
  }
  .byCompanyContainer
    .mainContainer
    .performanceWrap
    .infoWrap
    .infoBox
    .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
  }
  .byCompanyContainer .mainContainer .performanceWrap .infoWrap .infoBox .info {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .byCompanyContainer .mainContainer .exampleWrap .infoWrap {
    height: auto;
  }
  .byCompanyContainer
    .mainContainer
    .exampleWrap
    .infoWrap
    .section2Slider
    .item {
    height: 200px;
  }
  .byCompanyContainer .mainContainer .footerWrap .info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
  }
  .byCompanyContainer {
  }
  .byCompanyContainer {
  }
}
