$imgPath: '/images';

.reliabilityContainer {
  section {
    padding: 1.25rem;
  }

  .fakeHeader {
    height: 6.75rem;
  }
  .backgroundWrap {
    height: 17.5rem;
    margin-top: 5.5rem;

    background: url('#{$imgPath}/myEstimate/background_1.png') 0 0 no-repeat;
    position: relative;

    .backgroundIntro {
      color: #222;
      text-align: center;
      font-family: Spoqa Han Sans Neo;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3.75rem; /* 150% */
      letter-spacing: -0.05rem;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 1023px) {
        width: 21.875rem;
        font-size: 1.5rem;
        line-height: 2.25rem; /* 150% */
        letter-spacing: -0.03rem;
      }
    }
  }

  .mainSectionWrap {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

    @media screen and (max-width: 480px) {
      padding: 0 3%;
    }

    .title {
      padding-top: 5rem;

      color: #222;
      font-family: Spoqa Han Sans Neo;
      font-size: 1.625rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem; /* 153.846% */
      letter-spacing: -0.0375rem;
      text-align: left;
      margin-bottom: 1rem;

      @media screen and (max-width: 350px) {
        font-size: 1.25rem;
      }
      @media screen and (max-width: 1023px) {
        font-size: 1.25rem;
        letter-spacing: -0.025rem;
      }
    }
    .sub_title {
      color: #4e5055;
      font-family: Spoqa Han Sans Neo;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem; /* 175% */
      letter-spacing: -0.02rem;
      margin-bottom: 2.5rem;
    }
    .infoWrap {
      margin: 0 auto;
      width: 100%;
    }
    .infoWrap div {
      margin: 0 auto;
      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
      }
    }

    .infoWrap div div {
      padding: 0;
      margin-bottom: 5%;
      @media screen and (min-width: 900px) {
        flex-basis: 48%;
      }
    }
    // .infoWrap div div:first-child {
    //   padding-right: 3%;
    // }
  }
  .bottomWrap {
    padding: 0;
    margin: 0 auto 10rem;
    width: 100%;

    .img {
      display: block;
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .reliabilityContainer {
  }
  .reliabilityContainer .backgroundWrap {
    background: url('./img/banner_mb.png') 0 0 cover no-repeat;
    height: 220px;
    margin-top: 12.5rem;
    margin-bottom: 60px;
  }
  .reliabilityContainer .backgroundWrap .backgroundIntro {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
    width: max-content;
  }
  .reliabilityContainer .mainSectionWrap {
    margin: 0 20px 80px;
    width: -webkit-fill-available;
    padding: 0;
  }
  .reliabilityContainer .mainSectionWrap .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .reliabilityContainer .mainSectionWrap .sub_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
  .reliabilityContainer .mainSectionWrap .infoWrap {
    width: 100%;
  }
  .reliabilityContainer .bottomWrap {
  }
  .reliabilityContainer .bottomWrap {
  }
}
