.price_comparison_page .sec_01 {
  position: relative;
}
.price_comparison_page .sec_01 .comparison_container {
  position: relative;
}

/* 맨위 배너 글씨 */
.price_comparison_page .sec_01 .banner_container {
  position: relative;
  width: 100%;
  height: 27.5rem;
  margin-top: 5.5rem;
  /* background-image: url('../../../public/new/priceComparison/banner.svg'); */
  /* background-repeat: 'no-repeat';
    background-position: center;
    background-size: cover;
    object-fit: cover; */
}
.price_comparison_page .sec_01 .container {
  width: 100%;
  position: absolute;
  top: 7%;
}
.price_comparison_page .sec_01 .title_container,
.price_comparison_page .sec_01 .comparison_container,
.price_comparison_page .sec_01 .more_btn {
  margin: 0 auto;
  display: block;
  width: 53.75rem;
}

.price_comparison_page .sec_01 .title_container {
}
.price_comparison_page .sec_01 .title_container > .text_01 {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
  margin-bottom: 2.5rem;
}

.price_comparison_page .sec_01 .title_container > .text_02 {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
  margin-bottom: 4rem;
}
.price_comparison_page .sec_01 .title_container > .text_02 > span {
  color: #cab6f9;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: -0.02rem;
}

/* 회사별 비교 */
.price_comparison_page .sec_01 .comparison_container {
  width: 53.75rem;
  /* height: 60.75rem; */
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  padding: 4rem 3rem;
  margin-bottom: 1.75rem;
}
.price_comparison_page .sec_01 .comparison_container > .text_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0375rem;
  margin-bottom: 1rem;
}
.price_comparison_page .sec_01 .comparison_container > .text_02 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.02rem;
  margin-bottom: 2.5rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box {
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container {
  width: 23rem;
  /* height: 37.875rem; */
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  padding: 1.62rem;
  margin-bottom: 3.5rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_img {
  margin-bottom: 1.5rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_name {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0325rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info {
  margin-bottom: 1.75rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper {
  display: inline-flex;
  padding-left: 0;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper .item_01 {
  color: #a3a7b2;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
  width: 30%;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper .item_02 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .min_price {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.04rem;
  margin-bottom: 1.75rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .chat_btn {
  width: 19.75rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #5221cb;
  margin-bottom: 0.75rem;

  /* text */
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 100% */
  letter-spacing: -0.02rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .chat_btn .kakaoIcon {
  width: 1.25rem;
  min-width: 1.25rem;
  max-width: none;
  height: 1.25rem;
  max-height: none;
  min-height: 1.25rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .chat_btn > p {
  margin-left: 0.5rem;
}
.price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .show_estimate_btn {
  width: 19.75rem;
  height: 3.25rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #f7f6fc;

  /* text */
  color: #5221cb;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 100% */
  letter-spacing: -0.02rem;
}
.price_comparison_page .sec_01 .comparison_container .text_03 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 166.667% */
  letter-spacing: -0.0375rem;
  text-align: center;
}
.price_comparison_page .sec_01 .comparison_container .text_03 > span {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.0375rem;
}
.price_comparison_page .sec_01 .more_btn {
  width: 53.75rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #383b48;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  margin-bottom: 10rem;
  display: flex;
  align-items: center;

  /* text */
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}

/* mobile */
@media only screen and (min-width: 200px) and (max-width: 480px) {
  .price_comparison_page .sec_01 .banner_container {
    height: 738px;
  }
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container {
    width: auto !important;
  }

  .price_comparison_page .sec_01 .title_container > .text_01 {
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.04rem;
    margin-bottom: 32px;
  }
  .price_comparison_page .sec_01 .title_container > .text_02,
  .price_comparison_page .sec_01 .title_container > .text_02 > span { 
    font-size: 16px;
    font-style: normal;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
  }
 
  .price_container {
    margin-left: 0 !important;
  }
  .price_comparison_page .sec_01 .container { top: 20%; }

  .price_comparison_page .sec_01 .comparison_container {
    border-radius: 8px;
    width: 350px;
    margin-bottom: 40px;
  }
  .price_comparison_page .sec_01 .comparison_container > .text_01 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: -0.6px;
  }
  .price_comparison_page .sec_01 .comparison_container > .text_02 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
    margin-bottom: 40px;
  }
  .comparison_container .comparison_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 8px;
  }
  
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_img {
    width: 100px;
    height: 100px;
  }
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_name {
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
  }

  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper .item_01 {
    width: 28%;
  }
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper .item_01,
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_info .item_wrapper .item_02 {
    padding-right: 0;
    font-size: 16px;
    font-style: normal;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
  }
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .min_price {
    font-size: 24px;
    margin: 28px 0;
  }

  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .company_img {
    width: 100px;
    height: 100px;
    margin-bottom: 28px;
  }

  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .chat_btn,
  .price_comparison_page .sec_01 .comparison_container > .comparison_box .price_container .show_estimate_btn {
    width: 100%;
    height: 52px;
    border-radius: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.32px;
  }
 
  .price_comparison_page .sec_01 .comparison_container .text_03,
  .price_comparison_page .sec_01 .comparison_container .text_03 > span {
    font-size: 20px;
    font-style: normal;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .price_comparison_page .sec_01 .more_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 16px 90px 16px 89px;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  .price_comparison_page .sec_01 .more_btn > svg {
    width: 20px;
    height: 20px;
  }
}
