.mobile {
  display: none;
}

@media screen and (max-width: 780px) {
  .sec_02 .text_title .mobile {
    display: block;
  }
}

@media (max-width: 480px) {
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
}
/* sec common */
.container {
  margin: auto;
  text-align: center;
}

/* sec_01 */
.sec_01 .container {
  margin: 80px 0 85px 0;
}
@media (max-width: 480px) {
  .sec_01 .container {
    width: 94%;
    margin: 0 auto;
    padding-top: 30px;
  }
}
.sec_01 .container .text_01 {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 150% */
  letter-spacing: -0.8px;
  margin-bottom: 80px;
  white-space: nowrap;

  .center_text {
    display: inline;
    margin-right: 6px;

    @media screen and (max-width: 480px) {
      margin-right: 0;
    }
  }
}
@media (max-width: 480px) {
  .sec_01 .container .text_01 {
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 56px;
  }
}
.sec_01 .container .text_02 {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .sec_01 .container .text_02 {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 56px;
  }
}
.sec_01 .container .text_03 {
  color: #b799ff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--Main1, #5221cb);
  width: 30%;
  max-width: 460px;
  min-width: 400px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 28px;
  position: relative;
  box-sizing: border-box;
  padding: 0 2%;
}

@media screen and (max-width: 780px) {
  .sec_01 .container .text_03 {
    min-width: 240px;
    width: 40%;
    font-size: 2rem;
    white-space: nowrap;
    padding: 0 1%;
  }
}
@media (max-width: 480px) {
  .sec_01 .container .text_03 {
    font-size: 2rem;
    /* line-height: 16px; 114.286% */
    letter-spacing: -0.28px;
    width: 50%;
    height: 32px;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
    padding: 0 3%;
    min-width: 180px;
  }
}
.sec_01 .container .text_03::after {
  position: absolute;
  color: var(--Main1, #5221cb);
  bottom: -10px;
  left: calc(50% - 20px);
  content: ' ';
  height: 0;
  z-index: -1;
  border-bottom: 14px solid;
  border-left: 14px solid rgba(0, 0, 0, 0);
  border-right: 14px solid rgba(0, 0, 0, 0);
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}
@media (max-width: 480px) {
  .sec_01 .container .text_03::after {
    bottom: -7px;
    left: calc(56% - 20px);
    border-bottom: 8px solid;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
  }
}
.sec_01 .container .text_03 .color {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.64px;
}
@media (max-width: 780px) {
  .sec_01 .container .text_03 .color {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .sec_01 .container .text_03 .color {
    font-size: 14px;
    line-height: 16px; /* 114.286% */
    letter-spacing: -0.28px;
  }
}
/* sec_02 */
.sec_02 {
  display: flex;
  background: #383b48;
  box-sizing: border-box;
  padding: 8% 0;
  width: 100%;
}
@media (max-width: 480px) {
  .sec_02 {
  }
}
.sec_02 .container {
  width: 60%;
}
.sec_02 .text_title .item {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.8px;
  text-align: left;
  margin-bottom: 80px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .sec_02 .text_title .item {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
    margin-bottom: 40px;
  }
}
.sec_02 .text_title .item .color {
  background: linear-gradient(90deg, #8a62ed 3.42%, #5096fe 41.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec_02 .text_title .item:nth-child(2) {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 153.846% */
  letter-spacing: -0.6px;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .sec_02 .text_title .item:nth-child(2) {
    font-weight: 700;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
  }
}
.sec_02 .contents_container .content {
  width: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e2e5ed;
  background: #fff;
  padding: 4%;
  margin: 1.25rem auto;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  text-align: left;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .sec_02 .contents_container .content {
    width: 100%;
    margin-top: 12px;
  }
}
.sec_02 .contents_container .content .item_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}
@media (max-width: 480px) {
  .sec_02 .contents_container .content .item_01 {
    font-size: 2rem;
    line-height: normal;
  }
}
.sec_02 .contents_container .content .item_02 {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
@media (max-width: 480px) {
  .sec_02 .contents_container .content .item_02 {
    margin-top: 6px;
  }
}
/* sec_03 */
.sec_03 .container {
  padding: 100px 0 120px 0;
  box-sizing: border-box;
  width: 70%;
}
@media (max-width: 480px) {
  .sec_03 .container {
    width: 94%;
    margin: 0 auto;
    padding-top: 80px;
  }
}
.sec_03 .container .text {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .sec_03 .container .text {
    width: 100%;
  }
}
.sec_03 .container .text .title {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  letter-spacing: -0.8px;
}
.sec_03 .container .text .item {
  color: #4e5055;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  margin: 20px 0;
}
.sec_03 .container02 {
  width: 100%;
  margin: 0 auto;
}
.sec_03 .container02 .item_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .sec_03 .container02 .item_wrapper {
    flex-direction: column;
  }
}
.sec_03 .container02 .sub_text {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 50px;
}
@media (max-width: 480px) {
  .sec_03 .container02 .sub_text {
    padding-left: 0;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
  }
  .sec_03 .container02 .sub_text span {
    text-align: left;
  }
}
.sec_03 .container02 .sub_text span {
  color: #a3a7b2;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}

/* .sec_04 */

.sec_04 {
  display: flex;
  justify-content: center;
}
.sec_04 .sec_wrapper {
  margin: 0 auto 8rem auto;
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .sec_04 .sec_wrapper {
    width: 100%;
  }
}
.sec_04 .sec_wrapper .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 153.846% */
  letter-spacing: -0.52px;
  margin: 0 auto;
  margin-bottom: 24px;
  width: 60%;
}
.sec_04 .step_title {
  color: var(--Main1, #5221cb);
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: -0.0175rem;
}
.sec_04 .step_container {
  display: block;
  width: 60%;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-sizing: border-box;
  padding: 2.5rem;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
}
.sec_04 .mobile_sec_04 {
  display: none;
}
.sec_04 .step_container .step_wrap {
  height: 100%;
  display: grid;
  align-items: center;
}
.sec_04 .step_container .step_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.sec_04 .step_container .step_wrapper .step_item {
  display: grid;
  align-content: center;
  align-items: center;
  height: fit-content;
}

.sec_04 .step_container .step_wrapper .step_item .step_img {
  width: 3.75rem;
  height: 4.30544rem;
}
.sec_04 .step_container .step_wrapper .step_item .step_arrow {
  width: 2.5rem;
  height: 2.5rem;
}
.sec_04 .step_container .step_wrapper .step_item .step_img,
.sec_04 .step_container .step_wrapper .step_item .step_arrow {
  position: relative;
  margin: auto;
}
.sec_04 .step_description {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  letter-spacing: -0.0425rem;
}
.sec_04 .step_container hr {
  height: 0.0625rem;
  border-width: 0;
  background-color: #e2e5ed;
}

/* sec_04 add */
.sec_04 .step_container .step_wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 0 4rem;
  box-sizing: border-box;
}
.sec_04 .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sec_04 .txt_top {
  color: var(--Main1, #5221cb);
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.28px;
}
.sec_04 .txt_bottom {
  color: #222;

  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
}
.sec_04 .step04 .txt_bottom {
  width: 68px;
}
/* .sec_05 */
.sec_05 .sec_wrapper {
  margin: 0 auto 8rem auto;
  width: 100%;
}
.sec_05 .sec_wrapper .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 153.846% */
  letter-spacing: -0.52px;
  margin-bottom: 24px;
  width: 60%;
  margin: 0 auto;
}
.sec_05 .item_container {
  width: 100%;
}
.sec_05 .item_container .item {
  width: 60%;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  padding: 2rem 1.5rem;
  margin: 1rem auto;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
  box-sizing: border-box;
}
.sec_05 .item_container .item .item_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 0.5rem;
}
.sec_05 .item_container .item .item_02 {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}
/* sec 06 */
.sec_06 {
  display: flex;
  background: #383b48;
  padding: 98px 0 92px 0;
}
.sec_06 .container {
  display: inline-block;
}
.sec_06 .text_title {
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-align: center;
  margin-bottom: 40px;
}
.sec_06 .text_title .color {
  background: linear-gradient(90deg, #8a62ed 3.42%, #5096fe 41.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec_06 .coupon {
  width: 282px;
  height: 155px;
  margin: 0 auto;
}
.sec_06 .item_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 40px 0;
}
.sec_06 .item_text span {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.sec_06 .item_text span:nth-child(2) {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.sec_06 .sub_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}
.sec_06 .sub_text span {
  color: #a3a7b2;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
.button_container {
  margin: 40px 0 160px;
}
.button {
  width: 53.75rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--Main1, #5221cb);
  margin: auto;
  cursor: pointer;

  /* 1 */
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button > p {
  display: inherit;
  margin: auto;
  line-height: 10;
}

/* labtop */
@media (max-width: 1024px) {
  .sec_03 .container02 {
    width: 80%;
  }
  .sec_04 .step_container {
    width: 80%;
  }
  .sec_04 .sec_wrapper .title {
    width: 80%;
  }
}
/* tablet */
@media (max-width: 768px) {
  .sec_03 .container {
    width: auto;
  }
  .sec_03 .container .text .title {
    font-size: 28px;
    line-height: 1.5em;
  }
  .sec_03 .container .text .item {
    font-size: 13px;
    line-height: 1.5em;
  }
  .sec_03 .container02 .sub_text {
    padding-left: 0;
  }
  .sec_03 .container02 .sub_text span {
    font-size: 16px;
    line-height: normal;
  }
  .sec_04 .step_container {
    width: 60%;
  }
  .sec_04 .sec_wrapper .title {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .sec_03 .container {
    padding-bottom: 80px;
  }
  .sec_03 .container .text .title {
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
  }
  .sec_03 .container02 {
    width: 96%;
  }
  .sec_03 .container02 .txt_item {
    color: #4e5055;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-top: 40px;
  }
  .sec_03 .container02 .txt_item:last-child {
    margin-top: 20px;
  }
  .sec_04 .step_container {
    width: 88%;
    border-radius: 8px;
  }
  .sec_04 .sec_wrapper .title {
    width: 88%;
    font-size: 20px;
    font-style: normal;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_04 .step_container .step_wrapper {
    padding: 3rem 2rem;
  }
  .sec_04 .step {
    gap: 6px;
  }
  .sec_04 .txt_bottom {
    font-size: 13px;
    line-height: 17px; /* 144.444% */
  }
  .sec_04 .step04 .txt_bottom {
    width: 100%;
  }
  .sec_05 .sec_wrapper .title {
    font-size: 20px;
    font-style: normal;
    line-height: normal; /* 200% */
    letter-spacing: -0.4px;
    width: 88%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .sec_05 .item_container {
    padding-bottom: 210px;
  }
  .sec_05 .item_container .item {
    width: 88%;
    border-radius: 8px;
    border: 1px solid #e2e5ed;
    background: #fff;
    padding: 20px;
    margin: 1rem auto;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
    margin-bottom: 12px;
  }
  .sec_05 .item_container .item .item_01 {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .sec_05 .item_container .item .item_02 {
    font-size: 16px;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-top: 6px;
  }

  .sec_06 {
    display: flex;
    background: #383b48;
    padding: 35px 0 52px 0;
  }
  .sec_06 .container {
    display: inline-block;
  }
  .sec_06 .text_title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
  }
  .sec_06 .text_title .color {
    background: linear-gradient(90deg, #8a62ed 3.42%, #5096fe 41.39%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sec_06 .coupon {
    width: 200px;
    height: 80px;
    margin: 0 auto;
  }
  .sec_06 .item_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 40px 0;
  }
  .sec_06 .item_text span {
    margin-top: 35px;
    font-size: 20px;
  }
  .sec_06 .item_text span:nth-child(2) {
    margin-top: 12px;
    width: 80%;
    font-size: 14px;
  }
  .sec_06 .sub_text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
  }
  .sec_06 .sub_text span {
    color: #a3a7b2;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: normal; /* 175% */
    letter-spacing: -0.32px;
  }
  .button_container {
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
    z-index: 999;
    width: 100%;
  }
  .button {
    width: 90%;
    padding: 24px 0;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Main1, #5221cb);
    margin: auto;
    cursor: pointer;

    /* 1 */
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

    color: #fff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .button > p {
    display: flex;
    margin: auto;
    align-items: center;
  }
}
@media screen and (max-width: 780px) {
  .sec_02 .container,
  .sec_03 .container .text,
  .sec_04 .sec_wrapper .title,
  .sec_04 .step_container,
  .sec_05 .sec_wrapper .title,
  .sec_05 .item_container .item {
    width: 90%;
  }
}
