.complete_page {
  position: relative;
}
.complete_page .complete_container {
  text-align: center;
  margin: 10rem auto;
  position: relative;
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .complete_page {
    height: 40vh;
    margin-bottom: 55%;
    position: relative;
  }
}
.complete_page .complete_container .complete_check {
}
.complete_page .complete_container .complete_title {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
  margin-bottom: 0.5rem;
}
.complete_page .complete_container .complete_text {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
  margin-bottom: 3rem;
}
.complete_page .complete_container .complete_btn {
  width: 16.25rem;
  height: 3.5rem;
  flex-shrink: 0;

  /* text */
  border-radius: 8px;
  background: var(--Main1, #5221cb);
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .complete_page {
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
    margin-bottom: 27%;
  }
  .complete_page .complete_container .complete_title {
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    letter-spacing: -0.48px;
  }
  .complete_page .complete_container .complete_text {
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  .complete_page .complete_container .complete_btn_wrapper {
    margin-top: 200px;
  }
  /* .complete_page .complete_container .complete_btn_wrapper {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  } */
  .complete_page .complete_container .complete_btn {
    display: flex;
    width: 90vw;
    height: 56px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: auto;
    z-index: 9999999;

    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
  }
  .complete_page .complete_container .complete_btn > svg {
    width: 20px;
    height: 20px;
  }
}
