#estimateForm {}

/* sec_01 */
.sec_01 {
    width: 100%;
    height: 28.5rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, #5221cb 0%, #3d1d8c 100%);
}

.sec_01 .container {
    width: 53.75rem;
    margin: auto;
    padding-top: 6.5rem;
}
.sec_01 .container > .title {
    color: #FFF;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.05rem;
    margin-bottom: 3rem;
}
.sec_01 .container .form_container {
    /* height: 55.375rem; */
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.20);
    padding: 3rem 5rem;
    margin-bottom: 10rem;
}
.sec_01 .container .form_container .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: 0;
}
.sec_01 .container .form_container .item > label {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.02rem;
    margin-bottom: 0.8rem;
}
.sec_01 .container .form_container .item .input_box input::placeholder {
    color: #909FB7;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0175rem;
}
.sec_01 .container .form_container .item .address {
    width: 98%;
}
.sec_01 .container .form_container .item .input_box {
    stroke-width: 1px;
    stroke: #909FB7;
    margin-bottom: 0.5rem;

    /* text */
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.0175rem;
}
.sec_01 .container .form_container .item .address_btn_grid {
    padding-left: 0;
}
.sec_01 .container .form_container .item .address_btn {
    width: 7.5rem;
    background-color: #5221CB;
    stroke-width: 1px;
    stroke: #5221CB;

    /* text */
    color: #FFF;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.0175rem;
}
.sec_01 .container .form_container .item .terms_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sec_01 .container .form_container .item .terms_container .terms_check > span {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0175rem;
}
.sec_01 .container .form_container .item .terms_container .terms_detail {
    display: flex;
    align-items: center;
}
.sec_01 .container .form_container .item .terms_container .terms_detail > .terms_detail_btn {
    color: #909FB7;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0175rem;
    text-decoration-line: underline;
}
.sec_01 .container .form_container .item .submit_btn {
    width: 14.375rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: #E2E5ED;
    margin-left: auto;
}
.sec_01 .container .form_container .item .submit_btn.active {
    background: #5221CB;
}

.sec_02 {
    height: 53.125rem
}

/* 화면 폭이 320px 이하일 때 */
@media only screen and (max-width: 350px) { 
    .sec_01 .container > .title {
        color: #FFF;
        text-align: center;
        font-family: Spoqa Han Sans Neo;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.25rem; /* 150% */
        letter-spacing: -0.03rem;
    }
    .sec_01 .container .form_container .item > label {
        color: #222;
        font-family: Spoqa Han Sans Neo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.02rem;
    }
    .sec_01 .container .form_container .item .input_box input::placeholder {
        color: #909FB7;
        font-family: Spoqa Han Sans Neo;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0.875rem; /* 87.5% */
        letter-spacing: -0.02rem;
    }
}

.form_detail_container {}
.form_detail_container .item {}
.form_detail_container .item .title {
    color: #111;
    font-family: Spoqa Han Sans Neo;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: -0.02rem;
}
.form_detail_container .item .description {
    color: #111;
    font-family: Spoqa Han Sans Neo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: -0.0175rem;
}
