#estimate {
  display: flex;
  flex-direction: column;
}

/* sec common */
/* .container {
  margin: auto;
  text-align: center;
} */

/* sec_01 */
.estimate .banner_container {
  position: relative;
  height: 280px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(56, 59, 72, 0.5), rgba(56, 59, 72, 0.5)),
    url('/new/estimate/banner.png');
}
/*
.estimate .banner_container .banner_image {
  position: relative;
  margin-bottom: 6rem;
}
*/
.estimate .banner_container .banner_title {
  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.75rem; /* 150% */
  letter-spacing: -0.05rem;
}

/* sec common */
.sec_wrapper {
  margin: 0 auto 8rem auto;
  width: fit-content;
}

@media (max-width: 480px) {
  .sec_wrapper {
    margin: 0 auto 60px auto;
  }
}
@media (max-width: 330px) {
  .sec_wrapper {
    width: auto;
  }
}

.sec_wrapper > .title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 153.846% */
  letter-spacing: -0.0325rem;
  margin-bottom: 1.5rem;
}

/* .sec_01 */
.sec_01 .title_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.035rem;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 60px;
}

.sec_01 .sheet_container {
  display: block;
  margin-bottom: 6rem;
  width: 53.75rem;
}
.sec_01 .sheet {
  margin: auto;
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e5ed;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
}

.sec_01 .sheet hr {
  height: 0.0625rem;
  border-width: 0;
  background-color: #e2e5ed;
}
.sec_01 .sheet .sheet_comparison .vs {
  color: #a3a7b2;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0325rem;
  margin: 0 1rem;
}
.sec_01 .sheet .sheet_comparison .item_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0325rem;
  text-align: center;
  margin: 0.5rem 0;
}
.sec_01 .sheet .sheet_comparison .item_02 .descriptions {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.sec_01 .sheet .sheet_comparison .item_02 .descriptions .label {
  color: #a3a7b2;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
  width: 25%;
}
.sec_01 .sheet .sheet_comparison .item_02 .descriptions .content {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
}
.sec_01 .sheet .sheet_promotion .promotion_title {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.025rem;
  margin: 1.5rem 0;
}
.sec_01 .sheet .sheet_promotion .promotion_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.sec_01 .sheet .sheet_promotion .promotion_container .promotion_wrapper {
  width: 50%;
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
}
.sec_01 .sheet .sheet_table table > thead > tr > th {
  border-bottom: 0;
  padding: 1rem 1rem 0.2rem 1rem;
}
.sec_01 .sheet .sheet_table table > thead > tr > th > p {
  height: 2rem;
  border-radius: 0.25rem;
  background: #f7f6fc;
  color: var(--Main1, #5221cb);
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec_01 .sheet .sheet_table table > tbody > tr > td.option {
  width: 11.25rem;
  color: #a3a7b2;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
}
.sec_01 .sheet .sheet_table table > tbody > tr > td {
  width: 7.5rem;
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.02rem;
  padding: 12px 16px;
}
.sec_01 .sheet .text_01 {
  color: #4e5055;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03rem;
  vertical-align: bottom;
  display: inline-block;
  margin-top: 5rem;
  width: 100%;
}
.sec_01 .sheet .text_01 .text_02 {
  color: var(--Main1, #5221cb);
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
}
.sec_01 .title_02 {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 150% */
  letter-spacing: -0.04rem;
}

/* .sec_02 */
.sec_02 {
  margin: 60px 20px 0px 20px;
}
.mobile_sec_02 {
  display: none;
}
.sec_02 .step_title {
  color: var(--Main1, #5221cb);
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 185.714% */
  letter-spacing: -0.0175rem;
}
.sec_02 .step_container {
  display: block;
  width: 53.75rem;
  height: 30.9375rem;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  padding: 2.5rem;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
}
.sec_02 .step_container .step_wrap {
  height: 100%;
  display: grid;
  align-items: center;
}
.sec_02 .step_container .step_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.sec_02 .step_container .step_wrapper .step_item {
  display: grid;
  align-content: center;
  align-items: center;
  height: fit-content;
}

.sec_02 .step_container .step_wrapper .step_item .step_img {
  width: 3.75rem;
  height: 4.30544rem;
}
.sec_02 .step_container .step_wrapper .step_item .step_arrow {
  width: 2.5rem;
  height: 2.5rem;
}
.sec_02 .step_container .step_wrapper .step_item .step_img,
.sec_02 .step_container .step_wrapper .step_item .step_arrow {
  position: relative;
  margin: auto;
}
.sec_02 .step_description {
  color: #222;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  letter-spacing: -0.0225rem;
}
.sec_02 .step_container hr {
  height: 0.0625rem;
  border-width: 0;
  background-color: #e2e5ed;
}

/* sec_02 add */
.sec_02 .step_container .step_wrapper {
  width: 100%;
  justify-content: space-between;
  padding: 0 4rem;
}
.sec_02 .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sec_02 .txt_top {
  color: var(--Main1, #5221cb);
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.28px;
}
.sec_02 .txt_bottom {
  color: #222;

  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
}
.sec_02 .step04 .txt_bottom {
  width: 68px;
}

/* .sec_03 */
.sec_03 .item_container .item {
  width: 53.75rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #e2e5ed;
  background: #fff;
  padding: 2rem 1.5rem;
  margin: 1rem auto;
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
}
.sec_03 .item_container .item .item_01 {
  color: #222;
  font-family: Spoqa Han Sans Neo;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03rem;
  margin-bottom: 0.5rem;
}
.sec_03 .item_container .item .item_02 {
  color: #4e5055;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
}
.sec_03 .button {
  width: 53.75rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: var(--Main1, #5221cb);
  margin: auto;

  /* 1 */
  box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);

  color: #fff;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sec_03 .button > p {
  display: inherit;
  margin: auto;
}

/* mobile */
@media (max-width: 480px) {
  .mobile_sec_02 {
    display: block;
  }
  .estimate .banner_container {
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 220px;
  }
  .estimate .banner_container .banner_title {
    color: #fff;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.48px;
  }
  .sec_01 {
    margin: 60px auto;
    width: 90%;
    flex-shrink: 0;
  }
  .sec_01 .title_01 {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
    text-align: left;
    margin: 0;
  }
  .sec_01 .mobile_sec_01 {
    margin-top: 20px;
  }
  .sec_01 .mobile_sec_01 .sheet {
    padding: 44px 25px;
  }
  .sec_01 .mobile_sec_01 .sheet hr {
    margin: 0;
  }
  .sec_01 .mobile_sec_01 .sheet .versus {
    color: #a3a7b2;
    font-family: Spoqa Han Sans Neo;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.52px;
  }
  .sec_01 .mobile_sec_01 .sheet .sheet_comparison .descriptions {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 16px;
  }
  .sec_01 .mobile_sec_01 .sheet .sheet_comparison .item_01 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .sec_01
    .mobile_sec_01
    .sheet
    .sheet_comparison
    .item_02
    .descriptions
    .label {
    font-size: 16px;
    line-height: 26px;
    width: 100%;
  }
  .sec_01
    .mobile_sec_01
    .sheet
    .sheet_comparison
    .item_02
    .descriptions
    .content {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
  }
  .sec_01 .sheet .sheet_table div {
    box-shadow: none;
    border: 1px solid #e2e5ed;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 0;
  }
  .sec_01 .sheet .sheet_table table > thead > tr > th {
    padding: 0;
  }
  .sec_01 .sheet .sheet_table table > thead > tr > th > p {
    height: auto;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 6px 0;
  }
  .sec_01 .sheet .sheet_table table > tbody > tr > td.option {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.02rem;
  }
  .sec_01 .sheet .sheet_table table > tbody > tr > td {
    width: fit-content;
    color: #222;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    letter-spacing: -0.02rem;
    padding: 12px 16px;
  }
  .sec_01 .sheet .sheet_table table > tbody > :last-child > td {
    border: none;
  }
  .sec_01 .mobile_title_02 {
    display: block;
    color: #222;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.4px;
    margin-top: 60px;
  }
  .sec_01 .mobile_sec_01 .sheet .sheet_promotion .promotion_title {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-top: 20px;
  }
  .sec_01
    .mobile_sec_01
    .sheet
    .sheet_promotion
    .promotion_container
    .promotion_wrapper {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
  }
  .sec_01
    .mobile_sec_01
    .sheet
    .sheet_promotion
    .promotion_container
    .promotion_wrapper
    .text_right {
    text-align: right;
  }
  .sec_01 .sheet .text_01 {
    font-size: 16px;
    line-height: 1.75;
  }
  .sec_01 .sheet .text_01 .text_02 {
    color: var(--Main1, #5221cb);
    font-size: 16px;
    font-weight: 700;
  }
  .sec_01 .title_02 {
    color: #222;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem; /* 150% */
    letter-spacing: -0.04rem;
  }
  .sec_02 .title {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0;
  }
  .sec_02 .step_container {
    display: none;
  }
  .sec_02 .mobile_sec_02 {
    display: block;
    margin-top: 20px;
  }
  .sec_03 .title {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: -0.6px;
  }
  .sec_03 .item_container .item {
    border-radius: 8px;
    border: 1px solid #e2e5ed;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
    padding: 24px;
  }
  .sec_03 .item_container .item .item_01 {
    color: #222;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
  }
  .sec_03 .item_container .item .item_02 {
    color: #4e5055;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    margin-top: 12px;
  }
  .sec_03 .button {
    display: flex;
    width: 88%;
    height: 56px;
    left: 6.5%;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(137, 163, 201, 0.2);
    margin-top: 40px;
    position: fixed;
    bottom: 10px;
    z-index: 99;
  }
  .sec_03 .button p {
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

@media (max-width: 330px) {
  .sec_03 .title {
    margin: 0 auto;
    width: 53.75rem;
  }
  .sec_01
    .mobile_sec_01
    .sheet
    .sheet_promotion
    .promotion_container
    .promotion_wrapper {
    font-size: 14px;
  }
  .sec_01 .sheet .sheet_table table > tbody > tr > td.option {
    font-size: 14px;
  }
  .sec_01 .sheet .sheet_table table > tbody > tr > td {
    font-size: 14px;
    padding: 10px;
  }
}
